body {
	min-width: 200px;
}
.content{

}
.left-panel{

}
.main-panel{

}
.filter{

}
.chat{
	border: 1px solid #ccc;
	margin: 10px;
	padding: 2px;
	border-radius: 4px;
	box-shadow: 5px;

}
#user-menu{
	padding-top: 8px;
	padding-bottom: 10px;
}
img.circle {
	margin-left: 10px;
	border-radius:50%;
    max-width:32px;
    max-height:32px;
    width: auto;
    height: auto;
}