<!DOCTYPE html>
<html ng-app="curriculum">
<head>
	<title>Curriculum</title>
	<base href="/">
	<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="bower_components/prism/themes/prism.css">
</head>
<body ng-controller="mainCtrl">
<header class="header">
	<nav class="navbar navbar-default" role="navigation">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/"><img class="brand-img" src="http://worldtechacademy.com/assets/Connection_Logo_Green.png">World Tech Academy</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">
	      	Language:
	      	<button class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown" >{{language}} <span class="caret"></span></button>
					<ul class="dropdown-menu" role="menu">
						<li ng-repeat="l in languages"><a href="" ng-click="select(l)">{{l}}</a></li>
					</ul>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
</header>

<div class="container-fluid">
	<div class="col-md-2 navigation">
		<h4>Topics</h4>
		<div class="nav-item" ng-repeat="c in categories" ng-click="view(c.anchor, $event)" ng-cloak>{{c.title}}</div>
	</div>
	<div class="col-md-10 content">
		<div ng-view></div>
	</div>
</div>
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/prism/prism.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<!-- endbower -->

<!-- Manually Managed Files -->
<script type="text/javascript" src="/scripts/curriculum.js"></script>
<script type="text/javascript" src="/scripts/curriculum.controllers.js"></script>
<script type="text/javascript" src="/scripts/curriculum.services.js"></script>
</body>
</html>