.anchor {
	color: #fff;
	margin: 5px;
}

h3:hover a.anchor{
	color: #aaa;
	text-decoration: none;
}

.brand-img {
	float: left;
	margin-top: -5px;
	margin-right: 5px;
	width: 30px;
}

.navigation {
	margin-top: 10px;
}
.nav-item {
	padding: 5px;
	border: solid 1px;
	border-radius: 4px;
	border-color: #ddd;
	text-align: center;
}
.nav-item:hover {
	background-color: #e7e7e7;
	cursor: pointer;
}
.nav-item.active {
	background-color: #eee;
}
.header-fixed {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	right: 0;
}