<h2><span class="glyphicon glyphicon-{{icon}}"> {{category | uppercase}}<span></h2>
<hr>
<div ng-repeat="t in topics">
	<h3>{{t.title}}<span><a class="anchor" href="{{t.anchor}}">#</a></span></h3>
	<div class="example">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">{{language}}</h4>
			</div>
			<div class="panel-body">
				<div class="notes">&nbsp; &nbsp;{{t.notes}}</div>
				<pre><code class="language-{{t.language}}">{{t.content}}</code></pre>
			</div>
		</div>
	</div>
</div>