<!DOCTYPE html>
<html>
<head>
	<title>Chatter</title>
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<!-- Angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.3/angular.min.js"></script>
	<!-- Chatter -->
  <script type="text/javascript" src="scripts/chatter.js"></script>
  <link rel="stylesheet" type="text/css" href="stylesheets/chatter.css">
  <!-- OAuth -->
  <script src="https://apis.google.com/js/client:platform.js" async defer></script>
</head>
<body ng-app="chatter" ng-controller="chatterCtrl">

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">Chatter</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav" ng-show="auth">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Chats</a></li>
        <li><a href="#">Friends</a></li>
      </ul>
      <!-- <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form> -->
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
        <span id="signinButton" class="btn" ng-show='!auth'>
          <span
            class="g-signin"
            data-callback="signinCallback"
            data-clientid="1064826829148-mv0d1dch4snv3f5mt273d08qtmp590ik.apps.googleusercontent.com"
            data-cookiepolicy="single_host_origin"
            data-scope="profile">
          </span>
        </span>
          <a href="" id="user-menu"class="dropdown-toggle" data-toggle="dropdown" ng-show="auth">{{user.displayName}}<img class="circle" ng-src="{{user.image.url}}"/></a>
          <ul class="dropdown-menu" role="menu" ng-show="auth">
            <li><a href="">Profile</a></li>
            <li class="divider"></li>
            <li><a ng-click="signout()">Sign out</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div ng-show="!auth">
  <h3 class="text-center">Welcome to Chatter! Login to begin.</h3>
</div>
<div class="container-fluid" ng-show="auth">
	<div class="row">
	  <div id="left-panel" class="col-xs-4">
    <h3>People You May Know:</h3>
    <div>
      <div ng-repeat="u in users | limitTo:10">
        {{u.displayName}} <img class="circle" ng-src="{{u.image.url}}"/><button class="btn btn-primary btn-sm" ng-click="follow($index)"> Follow</button>
      </div>
    </div>
    </div>
	  <div id="main-panel" class="col-xs-8">
	  	<div class="filter"></div>
			<div class="chats">
        <div class="chat-composer">
          <form class="input-group" role="form">
            <input class="form-control" type="text" ng-model="chat">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit" ng-click="chatIt()">
              <!-- <span class="glyphicon glyphicon-flash"></span> -->
              Send</button>
            </span>
          </form>
        </div>
		    <div class="chat-container">
          <div ng-repeat="chat in chats" class="chat">
  					<img class="circle" ng-src="{{chat.imgUrl}}"/>&nbsp;<b>{{chat.displayName}}</b>:&nbsp;"{{chat.content.text}}" 
            <div class="text-right"><i>{{chat.timestamp | date:'medium'}}</i></div>
  				</div>
        </div>
			</div>
	  </div>
	</div>
</div>

<script type="text/javascript">
  function signinCallback(authResult) {
    //pass to angular
    var el = document.getElementById('signinButton');
    var scope = angular.element(el).scope();
    scope.signin(authResult);
  }
</script>
</body>
</html>